#nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4% 16px 4%;
    box-sizing: border-box;
    background-color:#00121c;
    box-shadow: #002b4d 0px 20px 15px -20px;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
}
.NavLink{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.NavLink:hover{
    color: #0092fa;
    text-decoration: underline; 
}

#btn{
    padding: 9px 16px 9px 16px;
    font-size: 18px;
    background-color: #007fda;
    color: #fff;
    border: none;
    display: block;
    margin: auto;
    transition: 0.6s;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.20) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.40) 0px -26px 20px 0px inset, rgba(0, 0, 0, 0.10) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.10) 0px 2px 1px, rgba(0, 0, 0, 0.10) 0px 4px 2px, rgba(0, 0, 0, 0.10) 0px 8px 4px, rgba(0, 0, 0, 0.10) 0px 6px 8px, rgba(0, 0, 0, 0.10) 0px 12px 10px;
}


#btn:hover{
    padding: 11px 18px 11px 18px;
    transition: 0.6s;
    font-size: 19px;
    background-color: #0095ff;
    border: 1.5px solid #0095ff;
}
#resumeBtn{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:16%;
    height:45px
}
.skillcard{
   width: 150px;
   border: 1px solid #003d6c ;
   text-align: center;
   border-radius: 12px;
   padding: 20px 20px 4px 20px;
   box-sizing: border-box;
}
.skillcard>img{
height: 90px;
}

.skillcard>h3{
font-weight: 400;
}